/* Tổng quan cho toàn bộ phần Facilities */
.Facilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f5f5f5;
    padding-top: 7%;
    
}

/* Tiêu đề phần Facilities */
.Facilities_title {
    max-width: 50%;
}

.Facilities_title h4 {
    color: #ff5959;
    font-size: 18px;
    margin-bottom: 10px;
}

.Facilities_title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Facilities_title p {
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
    align-items: flex-start;
    margin-left: 30px;
}

/* Phần danh sách tính năng (ul, li) */
.list_item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-content: center;
    place-items: center;
    gap: 40px;
    padding: 20px 0 ;
   
    
}
.list_item li{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.list_item li i{
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f5dfcd;
   
}

.list_item p {
    font-size: 16px;
    color: #333;


}

/* Hình ảnh bên phải */
.Facilities_Image {
    max-width: 45%;
}

.Facilities_Image img {
    width: 100%;
    border-radius: 10px;
}


body {
   
    color: #333;
    line-height: 1.6;
}

h1 {
    color: var(--black-color);
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.fast-facts {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.facts {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.fact-item {
    max-width: 300px;
}

.fact-item h2 {
    color: var(--primary-color);
    font-size: 2em;
    margin-bottom: 10px;
}

.fact-item p {
    font-size: 1.1em;
    color: #333;
}

.source {
    font-size: 0.9em;
    color: gray;
    margin-top: 10px;
}

.section-message {
    
    text-align: center;
    font-size: medium;
    justify-items: center;
    background-color: var(--flash-color);
    
}

.section-message h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--black-color);
   
}

.section-message p {
    font-size: 1.1em;
    margin-bottom: 15px;
    max-width: 800px;
    margin: 0 auto 15px auto;
}

.modernizing {
    padding: 50px 20px;
    background-color: var(--flash-color);
}

.image-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image-text img {
    max-width: 45%;
    border-radius: 8px;
}

.text-content {
    max-width: 50%;
}

.text-content h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

section{
    width: 100%;
    display: flex;
    justify-self: space-between;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}
.Section_title{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.Section_title h4{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 0.8rem;
}
.Section_title .span{
    background-color: rgb(245, 223, 220);
    color:var(--primary-color);
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 0.8rem;
}
.Section_title h2{
    font-size: 02.5rem;
    font-weight: 700;
    
}
.Section_title p, #p {
    color: var(--pg-color);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.8rem;
}
.Section_image{
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Section_image img{
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.Section_List{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.Section_List li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--pg-color);
}
.Apartment_Plans{
    padding-top: 10%;
}
.Apartment_title ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}
.Apartment_title ul li{
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}
.Apartment_title ul li :nth-child(i){
    color: var(--primary-color);
}
.Apartment_title ul li:hover{
    color: var(--primary-color);
}
.Apartment_title ul li ::after{
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius:50% ;
    top: 90%;
    left: 45%;
    background-color: var(--primary-color);
    transition: 0.5s;
    opacity: 0;
}
.Apartment_title ul li :hover ::before{
    opacity: 1;

}
.Apartment_title ul li :hover ::after{
    opacity: 1;
}
.Apartment_title ul li :before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 100%;
    left: 0%;
    background-color: var(--primary-color);
    transition: 0.5s;
    opacity: 0;


}
.Apartment_Main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.Apartment_Content{
    width: 60%;
    align-items: start;
    text-align: left;
    padding: 50px;
    background-color: var(--flash-color);
}
.Apartment_List {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.Apartment_List li{
    font-weight: 400 !important;
    font-size: 0.9rem;
    position: relative;
    overflow: hidden;
    align-items: flex-start;
    
}
.Apartment_List li::before{
    position: absolute;
    content: '';
    width: 61%;
    height: 0.5px;
    top: 50%;
    left: 21%;
    border: 1px dashed;
    background-color: #8cb2b2;
    z-index: 0;
}
.message-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    height: 100vh;
    max-width: 100%;
    gap: 20px;
}
.message-container .message-pic {
    grid-column: 1 / span 8;
    background-image: url('../img/Success.JPEG');
    background-size: cover;
    height: 100vh;
    max-width: 100%;

}
.message-container .section-message{
    grid-column: 9 /span 12;
    height: 100vh;
    max-width: 100%;
}
