/* Tổng quan cho toàn bộ phần Facilities */
.Facilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f5f5f5;
    padding-top: 7%;
    
}

/* Tiêu đề phần Facilities */
.Facilities_title {
    max-width: 50%;
}

.Facilities_title h4 {
    color: #ff5959;
    font-size: 18px;
    margin-bottom: 10px;
}

.Facilities_title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Facilities_title p {
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
    align-items: flex-start;
    margin-left: 30px;
}

/* Phần danh sách tính năng (ul, li) */
.list_item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-content: center;
    place-items: center;
    gap: 40px;
    padding: 20px 0 ;
   
    
}
.list_item li{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.list_item li i{
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f5dfcd;
   
}

.list_item p {
    font-size: 16px;
    color: #333;


}

/* Hình ảnh bên phải */
.Facilities_Image {
    max-width: 45%;
}

.Facilities_Image img {
    width: 100%;
    border-radius: 10px;
}


