.community {
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px; 
    min-height: 200px; 
    z-index: 1000;
}
.Agents {
    overflow: hidden;
}
.slide-content{
    border-radius: 25px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: white;
}
.card{
    border-radius: 25px;
    background-color: white;    
    margin: 5px;
}
.agent-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    padding: 3px;
}
.agent-image .agent-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.agent-btn{
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 6px;
    margin: 14px;
    transition: all 0.3 ease;
}
.agent-btn:hover{
        background-color: #D14621;
}