
.Home {
    background-color: white;
    position: relative;
    padding: 10px;
}

.Home_Main{
   background-color: white;
   height: 100%;
}

.Home_Main h2{
    color: black;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}   
.Home_Main h3 span{
    color: var(--primary-color);

}
.search_container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #dcdcdc;
    margin-top: 10px;
    padding: 5px;
    
}

.search-input {
    border: none;
    outline: none;
    flex-grow: 1; /* Ensures the input takes available space */
    font-size: 16px;
    padding: 10px;
    border-radius: 25px;
    margin-right: 10px; /* Adds space between the input and the search button */
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex; /* Ensures the icon is centered within the button */
    align-items: center;
    justify-content: center;
}

.search-icon {
    width: 40px;
    height: 40px;
    display: block; 
   filter: invert(0);
}