@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --primary-color: #e73b05;
    --black-color:#000;
    --white-stoke:#fff;
    --pg-color:#5c727d;
    --flash-color:#f7f6f9;
}

.WebLogo{
    background-size: cover;
    display: flex;
    width: 150px;
    height: 200px;
    user-select: none;
    padding-left: 20px;
}
body {
    color: #333;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}


.bg {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading-1 {
    color: var(--white-stoke);
    font-weight: 600;
    color:   #FFF5E6;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}


.heading-2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 52px;
    font-weight: 400;
    line-height: 110%;
}
.heading-2 strong{
    color: var(--primary-color);
}
.spacer{
    height: 8px;
}
.spacer172 {
    height: 172px;
}
.spacer24 {
    height: 24px;
}
.spacer18 {
    height: 18px;
}
.spacer40{
    height: 40px;
    background-color: white;
}
.text-block-2 {
    font-size: 18px;
    line-height: 110%;
}
.spacer-6-w {
    width: 6px;
}
.stars-container {
    justify-content: center;
    align-items: center;
    display: flex;
    size: 2px;
}
.star {
    width: 24px;
}
