@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}
.btn{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--white-stoke);
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    transition: .5s;

}
.btn:hover{
    background-color: var(--flash-color);
    color:var(--black-color);

}
:root{
    --primary-color: #ff5a3c;
    --black-color:#000;
    --white-stoke:#fff;
    --pg-color:#5c727d;
    --flash-color:#f7f6f9;
}

.Element{
    height: 70px;
    width: 70px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: plus_Anim 1s infinite;
}
.Element #play_btn{
    font-size: 1.6em;
    color: var(--white-stoke);
}



nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--white-stoke);
}
.logo{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 3rem;
}
.logo a{
    color: var(--primary-color);
    font-size: 1rem;
}
.logo i{
    color:#c54949

}
.menu{
    display: flex ;
    align-items: center;
    gap: 30px;

}
.menu li a:hover{
    color: var(--primary-color);
}
.space {
    width: 200px; /* Chiều rộng 200px */
    height: 100px; /* Chiều dài 500px */
    background-color: rgb(255, 255, 255); /* Màu nền để dễ nhìn thấy */
}


/* Search Section */
.search-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.search-section input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
}

.filters {
    display: flex;
    gap: 10px;
}

.filters select, .save-search {
    padding: 10px;
}

/* Main Content */
.main-content {
    display: flex;
    margin-top: 20px;
}

.map {
    width: 50%;
    padding: 20px;
}



.property-listings {
    width: 50%;
    padding: 20px;
}

.property-card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.property-card img {
    width: 500px;
    height: 300px;
}

.property-info h3 {
    margin: 0;
    color: #003580;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}
